<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cRepositorio.Properties.Settings.LibreriaConnectionString"
            connectionString="Data Source=DESKTOP-Q35KOSF\SQLEXPRESS;Initial Catalog=Libreria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>